# Python cache
__pycache__/
*.pyc 

# Type checker cache
.mypy_cache/ 

# Virtual environments
venv/
.venv/

# Build / distribution
dist/
build/
*.egg-info/

# Testing cache
.pytest_cache/

# IDE folders
.vscode/
.idea/

tests/